.container {
  display: flex;
  margin: 0 auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.display {
  text-align: center;
  margin: 0 auto;
}

.buttons {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
}

button {
  height: 100px;
  width: 100px;
  text-align: center;
}

.numpad {
  display: flex;
  flex-flow: column nowrap;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.oppad {
  flex: 0 3 auto;
  display: flex;
  flex-flow: column nowrap;
}
